.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  position: relative;
  height:100px;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-close {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
